body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bot-army{
  text-align: center;
  padding: 5% 5%;
  background-color: #b7d607;
  margin-bottom: 20px;
}
.bot-card{
  box-shadow: 2px 2px 2px 2px #a4a889;
}
.bot-card-army{
  box-shadow: 2px 2px 2px 2px #708303;

}
.card-footer{
  display:flex;
  justify-content: space-around;
}
img{
  background-color: antiquewhite;
  border-radius: 20%;
}